.eyes {
    position: absolute;
    top: var(--topEyes);

    width: 100%;
    // height: 45%;

    display: flex;
    justify-content: center;

    transition: transform .2s ease-in-out;
    transform: scale(var(--scale));
    // &:hover {
    //     transform: scale(var(--scala));
        
    // }
    
}
.eye {
    background-color: var(--dark);
    height: var(--eyeSize);
    width: var(--eyeSize);

    @extend %flex-center;
    
    border-radius: 50%;
    overflow: hidden;

    &--left {
        margin-right: var(--spacingEyes);
        
        &__pupil {
            transform:  translateX(calc(var(--xL) * 1px)) 
                        translateY(calc(var(--yL) * 1px));
        }
    }
    &--right {
        
        &__pupil {
            transform:  translateX(calc(var(--xR) * 1px)) 
                        translateY(calc(var(--yR) * 1px));
        }
    }
}
.pupils{
    background-color: var(--light);
    height: calc((var(--halfPoint) * 2) * 1px);
    width: calc((var(--halfPoint) * 2) * 1px);
    border-radius: 50%;
}