.eyes {
    display: flex;
    margin-bottom: -150px;
    transition: transform .2s ease-in-out;
    transform: scale(var(--scale));
    // &:hover {
    //     transform: scale(var(--scala));
        
    // }
    
}
.pupils{
    background-color: $light;
    height: calc((var(--puntoMedio) * 2) * 1px);
    width: calc((var(--puntoMedio) * 2) * 1px);
    border-radius: 50%;
}
.eye {
    background-color: var(--dark);
    height: 200px;
    width: 200px;
    @extend %flex-center;
    
    border-radius: 50%;
    overflow: hidden;

    &--left {
        margin-right: 2rem;
        
        &__pupil {
            @extend %pupilas;
            transform:  translateX(calc(var(--xL) * 1px)) 
                        translateY(calc(var(--yL) * 1px));
        }
    }
    &--right {
        margin-left: 0;
        &__pupil {
            @extend %pupilas;
            transform:  translateX(calc(var(--xR) * 1px)) 
                        translateY(calc(var(--yR) * 1px));
        }
    }
}
