.face {
    position: relative;
    align-self: flex-end;

    @include media('>=desktop') {
        align-self: center;
    }

    @extend %flex-center;
    flex-direction: column;

    
    width:  var(--widthFace);
    height: var(--heightFace);
    
    padding: 3rem 3rem 0;
    bottom: 0;


    border-top-left-radius: var(--borderFace);
    border-top-right-radius: var(--borderFace);
    // border-radius: 220px;

    

    // border: 1px solid rgba(0, 0, 0, 0.445);
    box-shadow: 0px -10px 20px -17px var(--dark);
    cursor: pointer;
    

    transition: transform 1s ease-in-out;
    transform: rotate(var(--turnsFace));
}