.tongue {
    position: absolute;
    top: var(--topTongue);

    height: var(--heightTongue);
    width: var(--widthTongue);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    font-family: var(--f-impact);
    font-size: var(--tongueSizeFont);
    padding-bottom: 1.1rem;

    color: var(--light);
    background: var(--tongue);

    border: 3px solid var(--borderTongue);
    border-bottom-right-radius: var(--borderRadiusTongue);
    border-bottom-left-radius: var(--borderRadiusTongue);

    transition: top .5s ease-in-out;
}