// Face 
$widthFace: 27rem;
$heightFace: 24rem;
$borderFace: 12rem;
// Eyes
$topEyes: 20%;
$eyeSize: 10rem;
$spacingEyes: 2rem;
// Nose
$sizeNose: 90%;
$topNose: 15%;
$topTongue: 82%; // Close: 10%
// Tongue
$heightTongue: 50%; // Close: 60%
$widthTongue: 34%;
$borderRadiusTongue: 50%;

// Variables
:root {
  // Fuente
  --f-adventure: 'Adventure Time';
  --f-impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  // Colores
  --jake: hsl(51, 100%, 50%);
  --finn: hsl(198, 58%, 66%);
  --finnDark: hsl(198, 100%, 75%);
  --princess: hsl(347, 87%, 65%);
  --princessDark: hsl(347, 100%, 56%);

  --tongue: rgb(255, 49, 49);
  --borderTongue: rgb(145, 31, 31);

  --dark: #000;
  --light: #fff;

  // Measures
  --levelMax: 1000;
  --levelMid: 100;
  --levelMin: 10;

  --sizeFont: 2.7rem;
  --secondSizeFont: 2rem;
  --tongueSizeFont: 2rem;

  // Variables for modals
  --visibleModalStart: 1;
  --displayModalStart: flex;
  --scalModalEnd: 0;

  // Variables for Jake
  --xL: 0;
  --yL: 0;
  --xR: 0;
  --yR: 0;
  --scale: 1;
  --turnsNose: 0turn;
  --turnsFace: 0turn;

  --halfPoint: 40;
  --sizeCircleModal: 27rem;

  
  // Face
  --widthFace:  #{$widthFace};
  --heightFace: #{$heightFace};
  --borderFace: #{$borderFace};

  // Eyes
  --topEyes: #{$topEyes};
  --eyeSize: #{$eyeSize};
  --spacingEyes: #{$spacingEyes};

  // Nose
  --sizeNose: #{$sizeNose};
  --topNose: #{$topNose};
  --topTongue: #{$topTongue};

  // Tongue
  --heightTongue: #{$heightTongue};
  --widthTongue: #{$widthTongue};
  --borderRadiusTongue: #{$borderRadiusTongue};

  // Variables for Snail
  --sizeSnail: 45;
  --visible: 0.0;
  --snailX: 0;
  --snailY: 0;
  --scaleSnail: 1;
  --scaleModalEnd: 0;

  @include media('>=300px') {
    --widthFace: 27rem;
  }

  @include media('>=tablet') {
    --displayModalStart: block;
    --sizeSnail: 70;
    --halfPoint: 55;
    --tongueSizeFont:  3rem;

    --widthFace:  calc(#{$widthFace} + (#{$widthFace} * 0.30));
    --heightFace: calc(#{$heightFace} + (#{$heightFace} * 0.35));
    --borderFace: calc(#{$borderFace} + (#{$borderFace} * 0.35));

    // --topEyes: calc(#{$topEyes} + (#{$topEyes} * 0.30));
    --eyeSize: calc(#{$eyeSize} + (#{$eyeSize} * 0.30));
    --eyeSize: 13rem;
    --spacingEyes: calc(#{$spacingEyes} + 3%);

    --sizeNose: 85%;
    --topNose: calc(#{$topNose} + (#{$topNose} * 0.30));
    // --topTongue: calc(#{$topTongue} + (#{$topTongue} * 0.20));
    
    // --heightTongue: calc(#{$heightTongue} + (#{$heightTongue} * 0.30));
    --widthTongue: calc(#{$widthTongue} + (#{$widthTongue} * -0.10));
    --borderRadiusTongue: calc(#{$borderRadiusTongue} + (#{$borderRadiusTongue} * 0.20));
  }

  @include media('>=laptop') {
    --sizeSnail: 90;
    --halfPoint: 67;
    --sizeCircleModal:  30rem;
    --sizeFont:  3.2rem;
    --secondSizeFont:  2.5rem;
    

    --widthFace:  calc(#{$widthFace} + (#{$widthFace} * 0.60));
    --heightFace: calc(#{$heightFace} + (#{$heightFace} * 0.65));
    --borderFace: calc(#{$borderFace} + (#{$borderFace} * 0.65));

    // --topEyes: calc(#{$topEyes} + (#{$topEyes} * 0.60));
    --eyeSize: calc(#{$eyeSize} + (#{$eyeSize} * 0.60));
    --eyeSize: 16rem;
    --spacingEyes: calc(#{$spacingEyes} + 4%);

    // --sizeNose: 95%;
    --topNose: calc(#{$topNose} + (#{$topNose} * 0.60));
    // --topTongue: calc(#{$topTongue} + (#{$topTongue} * 0.40));
    
    // --heightTongue: calc(#{$heightTongue} + (#{$heightTongue} * -0.05));
    --widthTongue: calc(#{$widthTongue} + (#{$widthTongue} * -0.20));
    --borderRadiusTongue: calc(#{$borderRadiusTongue} + (#{$borderRadiusTongue} * 0.10));
  }

  @include media('>=desktop') {
    // --halfPoint:  calc(#{$halfPoint} + 35);

    // --widthFace:  calc(#{$widthFace} + (#{$widthFace} * 0.60));
    // --heightFace: calc(#{$heightFace} + (#{$heightFace} * 0.65));
    // --borderFace: calc(#{$borderFace} + (#{$borderFace} * 0.65));

    // // --topEyes: calc(#{$topEyes} + (#{$topEyes} * 0.60));
    // --eyeSize: calc(#{$eyeSize} + (#{$eyeSize} * 0.60));
    // --eyeSize: 16rem;
    // // --spacingEyes: calc(#{$spacingEyes} + 6%);

    // --sizeNose: 65%;
    // --topNose: calc(#{$topNose} + (#{$topNose} * 0.60));
    // --topTongue: calc(#{$topTongue} + (#{$topTongue} * 0.40));
    
    // --heightTongue: calc(#{$heightTongue} + (#{$heightTongue} * 0.05));
    // --widthTongue: calc(#{$widthTongue} + (#{$widthTongue} * -0.20));
    // --borderRadiusTongue: calc(#{$borderRadiusTongue} + (#{$borderRadiusTongue} * 0.10));
  }

  

  
  // --displayModalFin: none;
}

// Breakpoints
$breakpoints: (
  'phone': 350px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1400px
) !default;